In [11]:
import pandas as pd
import numpy as np

In [12]:
#leer base de datos
df_emicron = pd.read_csv('https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/EMICRON/emicron_identificacion.csv', encoding="latin", sep=',')
df_emicron.head()

,DIRECTORIO,SECUENCIA_P,SECUENCIA_ENCUESTA,COD_DEPTO,AREA,CLASE_TE,P35,P241,MES_REF,P3031,P3032_1,P3032_2,P3032_3,P3033,P3034,P3035,P3000,GRUPOS4,GRUPOS12,F_EXP
0,7627444,1,1,44,NaN,2,2,33,ENERO,2,NaN,NaN,NaN,2,240,2,2,2,3,60.050515
1,7627446,1,1,44,NaN,2,1,31,ENERO,2,NaN,NaN,NaN,2,166,2,2,1,1,86.341075
2,7627449,1,1,68,NaN,1,2,42,ENERO,2,NaN,NaN,NaN,2,60,2,2,3,5,139.884518
3,7627453,1,2,68,NaN,1,2,41,ENERO,2,NaN,NaN,NaN,2,60,2,2,4,7,168.635440
4,7627456,1,3,68,NaN,1,1,18,ENERO,2,NaN,NaN,NaN,2,9,2,2,4,6,64.659273

In [13]:
#1.¿Cuantos micronegocios hay en el Quindio, cuyos propietarios son hombres entre los 18 y 30 años?
#primero calculamos la cantidad de micronegocios en colombia 
total = df_emicron["F_EXP"].sum()
print("micronegocios en Colombia:", int(total))

micronegocios en Colombia: 5297251

In [14]:
#filtrar
#COD_DEPTO = 63 (Quindio)
#P35 = 1 (Hombre)
#P241 = entre 18 y 30 años
M_HQ = df_emicron[(df_emicron["COD_DEPTO"] == 63) & (df_emicron["P35"] == 1) & (df_emicron["P241"].between(18, 30))]
#por ultimo calcular el total de micronegocios en el quindio de hombres entre 18 y 30 años
total_HQ = M_HQ["F_EXP"].sum()

print("de acuerdo a la base de datos obtenemos que la cantidad de Micronegocios en el Quindío cuyos propietarios son hombres entre 18 y 30 años es:", round(total_HQ))

de acuerdo a la base de datos obtenemos que la cantidad de Micronegocios en el Quindío cuyos propietarios son hombres entre 18 y 30 años es: 1929

In [15]:
#2.¿Cuantos micronegocios de la industria manufacturera existen en el departamento de Risaralda cuyas propietarias son mujeres entre los 20 y los 30 años?
#Cambiamos las variables por las que nos pide la pregunta y filtramos
#COD_DEPTO = 66 (Risaralda)
#P35 = 2 (Mujer)
#P241 = entre 20 y 30 años
#GRUPOS4 = 2 (Industria manufacturera)
Manufacturera_RM = df_emicron[(df_emicron["COD_DEPTO"] == 66) & (df_emicron["P35"] == 2) & (df_emicron["P241"].between(20, 30)) & (df_emicron["GRUPOS4"] == 2)]

total_Manufacturera_RM = Manufacturera_RM["F_EXP"].sum()
print(f"El numero total de micronegocios en la industria manufacturera de el departamento de Risaralda cuyas mujeres entre los 20 y los 30 años son propietarias es: {Manufacturera_RM['F_EXP'].sum():.0f}")

El numero total de micronegocios en la industria manufacturera de el departamento de Risaralda cuyas mujeres entre los 20 y los 30 años son propietarias es: 471

In [16]:
#3. Entre las ciudades de Manizales, Pereira y Armenia, cual de las 3 ciudades tiene mas micronegocios del sector comercio cuyas propietarias son mujeres mayores a 40 años?
#agregamos area para filtrar las ciudades
#AREA = 17 (Manizales)
#AREA = 63 (Armenia)
#AREA = 66 (Pereira)
#cambiamos el grupo economico a comercio
#GRUPOS4 = 3 (Comercio)

#Armenia
comercio_A40 = df_emicron[(df_emicron["AREA"] == 63) & (df_emicron["P35"] == 2) & (df_emicron["P241"] > 40) & (df_emicron["GRUPOS4"] == 3)]
total_comercio_A40 = comercio_A40["F_EXP"].sum()

print(f"el total de mujeres mayores a 40 años propietarias de negocios del sector comercio en Armenia es: {comercio_A40['F_EXP'].sum():.0f}")

#Pereira
comercio_P40 = df_emicron[(df_emicron["AREA"] == 66) & (df_emicron["P35"] == 2) & (df_emicron["P241"] > 40) & (df_emicron["GRUPOS4"] == 3)]
total_comercio_P40 = comercio_P40["F_EXP"].sum()

print(f"el total de mujeres mayores a 40 años propietarias de negocios del sector comercio en Pereira es: {comercio_P40['F_EXP'].sum():.0f}")

#Manizales
comercio_M40 = df_emicron[(df_emicron["AREA"] == 17) & (df_emicron["P35"] == 2) & (df_emicron["P241"] > 40) & (df_emicron["GRUPOS4"] == 3)]
total_comercio_M40 = comercio_M40["F_EXP"].sum()
print(f"el total de mujeres mayores a 40 años propietarias de negocios del sector comercio en Manizales es: {comercio_M40['F_EXP'].sum():.0f}")

el total de mujeres mayores a 40 años propietarias de negocios del sector comercio en Armenia es: 2558
el total de mujeres mayores a 40 años propietarias de negocios del sector comercio en Pereira es: 3827
el total de mujeres mayores a 40 años propietarias de negocios del sector comercio en Manizales es: 2637

In [17]:
#4.¿En Armenia cuantos micronegocios hay cuyos propietarios son hombres que no tienen nombre comercial?
#AREA = 63 (Armenia)
#P35 = 1 (Hombre)
#P3035 = 2 (No tiene nombre comercial)
M_AH = df_emicron[(df_emicron["AREA"] == 63) & (df_emicron["P35"] == 1) & (df_emicron["P3035"] == 2)]
total_M_AH = M_AH ["F_EXP"].sum()
print(f"En Armenia el total de micronegocios cuyos propietarios son hombres que no tienen un nombre comercial es: {M_AH['F_EXP'].sum():.0f}")

En Armenia el total de micronegocios cuyos propietarios son hombres que no tienen un nombre comercial es: 11603